# Following https://www.jeffgeerling.com/blog/testing-ansible-roles-travis-ci-github
---
language: python
python: "2.7"

services:
  - docker

env:
  # Defaults
  orthanc_default_user:     orthanc
  orthanc_default_password: passw0rd!
  orthanc_default_api_port: 8042

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  # Install Ansible
  - pip install ansible docker-py

  # Add ansible.cfg to pick up roles path
  - "echo '[defaults]\nroles_path = ../' > ansible1.cfg"
  - cat ansible1.cfg

script:
  # We'll add some commands to test the role here.
  # Check the role/playbook's syntax.
  - "ansible-playbook -i tests/inventory tests/test.yml --syntax-check"

  # Run the role/playbook with ansible-playbook.
  - "ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo"

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Request a page via the web server, to make sure it's running and responds.
  - "curl -u ${orthanc_default_user}:${orthanc_default_password} http://localhost:${orthanc_default_api_port}/"